:root {
  --color-primary: #5ece7b;
  --color-text: #1d1f22;
  --color-gray-1: #eeeeee;
  --color-gray-2: #e5e5e5;
  --color-gray-3: #8d8f9a;
  --color-gray-4: #43464e;

  --button-box-shadow: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}
